{% extends 'modal.html' %}

{% block title %}
    Continue as Guest
{% endblock %}

{% block content %}
    <form id="guest-form">
        <input type="hidden" name="type" value="guest">
        <label for="name">Display Name</label>
        <input type="text" id="name" name="name">
        <p>
            By continuing as a guest, you agree to our
            <a href="/terms">Terms of Service</a>
            and
            <a href="/privacy">Privacy Policy</a>
            .
        </p>
        <input type="submit" value="Continue">
    </form>
    <a onclick="window.modal.show('login')">Log In</a>
    <a onclick="window.modal.show('signup')">Create Account</a>
    <script>
        const guest_form = document.querySelector('#guest-form');
        guest_form.onsubmit = event => {
            event.preventDefault();
            const formData = new FormData(guest_form);
            fetch('/auth', {method: 'POST',body: formData
            }).then(response => response.json()).then(data => {
                if(data?.success) {
                    localStorage.setItem('user_id',data?.user_id);
                    window.location.reload()
                }
            });
        }
    </script>
{% endblock %}