.dealer {
  grid-area: dealer;
  width: 100%;
  align-self: center;
  position: relative;
  overflow: visible;

  &__cards {
    display: flex;
    flex-direction: row-reverse;
    font-size: 0.75em;
    gap: calc(@u / 2);
    min-height: calc(@card-height + ((@u / 2) * 2));
    padding: calc(@u / 2);
    border: solid @border-width darkorange;
    border-radius: 5px;
  }
  &__hand-value {
    position: absolute;
    right: -1em;
    top: -1em;
    color: white;
  }
  &__pays {
    text-align: center;
    color: darkorange;
  }
}