
.bank {
  grid-area: bank;
  display: flex;
  align-self: center;
  padding: 8px 0 5px 0;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  &__chips {
    flex: 1 0 100%;
    display: flex;
    justify-content: space-evenly;
    font-size: 4em;
    padding: @u;
    background-color: lighten(@table-bg, 10%);
    border-radius: 5px;
  }
  .chip {
    transition: transform ease 0.25s;
    &:hover {
      transform: scale(1.2);
    }
  }
  &__text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 1 45%;
    gap: 5px;
    color: white;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
    margin: 0;
    span {
      font-size: 1.4em;
    }
  }
  &__balance-wrapper {
    padding-top: @u;
    position: relative;
    order: -1;
  }
  &__balance {
    color: white;
    font-size: @font-size-md;
  }
  &__balance-change {
    position: absolute;
    bottom: 0;
    right: 0;
    color: white;
    font-size: @font-size-md;
    transition: bottom ease 1s, opacity ease 1s;
    opacity: 1;

    &.-increase, &.-decrease {
      position: absolute;
    }
    &.-increase {
      bottom: 50%;
      opacity: 0;
      color: green;
    }
    &.-decrease {
      bottom: -50%;
      opacity: 0;
      color: red;
    }
  }
}

@media (max-width: 1100px) {
  .bank {
    justify-self: center;
  }
}