.table {
  max-width: @desktop-max-width;
  margin: 0 auto;
  box-sizing: border-box;
  border-radius: @border-radius;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr min-content 1fr 1fr;
  grid-template-areas:
          "history dealer shoe"
          "message message message"
          "seats seats seats"
          "control bank .";
  gap: @padding-md;
  padding: @padding-md;
  width:100%;
  aspect-ratio: 1.6;
  position: relative;
  background: @table-bg;
  overflow: hidden;
  * {
    user-select: none;
  }
  font-size: clamp(10px, 2vw, 30px);

  .loading {
    position: absolute;
    inset: 0;
    backdrop-filter: blur(10px);
    z-index: 2000;
    align-items: center;
    justify-content: center;
    font-size: @font-size-md;
    color: white;
    text-transform: uppercase;
    display: none;
    &.-show {
      display: flex;
    }
  }
}

@media (max-width: 1100px) {
  .table {
    grid-template-areas:
          "history dealer shoe"
          "message message message"
          "seats seats seats"
          "actions actions actions"
          "bank bank bank";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr min-content 1fr 1fr 1fr;
  }
}