{% extends 'base.html' %}

{% block head %}
    <title>Web Blackjack | Games</title>
    <link rel="stylesheet" href="/static/css/base.css">
{% endblock %}

{% block body %}
    <section class="game-group">
            <h2 class="game-group__title">
                High-Limit Tables
                <span>472 Tables</span>
            </h2>
            <div class="game">
                <div class="game__preview"></div>
                <div class="game__seats">
                    <span class="game__seat -occupied"></span>
                    <span class="game__seat -occupied"></span>
                    <span class="game__seat -occupied"></span>
                    <span class="game__seat"></span>
                    <span class="game__seat"></span>
                    <span class="game__seat"></span>
                </div>
                <a class="game__join" href="/game/abcd">Join Table</a>
            </div>
            <div class="game">
                <div class="game__preview"></div>
                <div class="game__seats">
                    <span class="game__seat -occupied"></span>
                    <span class="game__seat -occupied"></span>
                    <span class="game__seat -occupied"></span>
                    <span class="game__seat"></span>
                    <span class="game__seat"></span>
                    <span class="game__seat"></span>
                </div>
                <a class="game__join" href="/game/abcd">Join Table</a>
            </div>
            <div class="game">
                <div class="game__preview"></div>
                <div class="game__seats">
                    <span class="game__seat -occupied"></span>
                    <span class="game__seat -occupied"></span>
                    <span class="game__seat -occupied"></span>
                    <span class="game__seat"></span>
                    <span class="game__seat"></span>
                    <span class="game__seat"></span>
                </div>
                <a class="game__join" href="/game/abcd">Join Table</a>
            </div>
            <div class="game">
                <div class="game__preview"></div>
                <div class="game__seats">
                    <span class="game__seat -occupied"></span>
                    <span class="game__seat -occupied"></span>
                    <span class="game__seat -occupied"></span>
                    <span class="game__seat"></span>
                    <span class="game__seat"></span>
                    <span class="game__seat"></span>
                </div>
                <a class="game__join" href="/game/abcd">Join Table</a>
            </div>
            <div class="game">
                <div class="game__preview"></div>
                <div class="game__seats">
                    <span class="game__seat -occupied"></span>
                    <span class="game__seat -occupied"></span>
                    <span class="game__seat -occupied"></span>
                    <span class="game__seat"></span>
                    <span class="game__seat"></span>
                    <span class="game__seat"></span>
                </div>
                <a class="game__join" href="/game/abcd">Join Table</a>
            </div>
        </section>
    <section class="game-group">
        <h2 class="game-group__title">
            Standard Tables
            <span>860 Tables</span>
        </h2>
        <div class="game">
            <div class="game__preview"></div>
            <div class="game__seats">
                <span class="game__seat -occupied"></span>
                <span class="game__seat -occupied"></span>
                <span class="game__seat -occupied"></span>
                <span class="game__seat"></span>
                <span class="game__seat"></span>
                <span class="game__seat"></span>
            </div>
            <a class="game__join" href="/game/abcd">Join Table</a>
        </div>
        <div class="game">
            <div class="game__preview"></div>
            <div class="game__seats">
                <span class="game__seat -occupied"></span>
                <span class="game__seat -occupied"></span>
                <span class="game__seat -occupied"></span>
                <span class="game__seat"></span>
                <span class="game__seat"></span>
                <span class="game__seat"></span>
            </div>
            <a class="game__join" href="/game/abcd">Join Table</a>
        </div>
        <div class="game">
            <div class="game__preview"></div>
            <div class="game__seats">
                <span class="game__seat -occupied"></span>
                <span class="game__seat -occupied"></span>
                <span class="game__seat -occupied"></span>
                <span class="game__seat"></span>
                <span class="game__seat"></span>
                <span class="game__seat"></span>
            </div>
            <a class="game__join" href="/game/abcd">Join Table</a>
        </div>
        <div class="game">
            <div class="game__preview"></div>
            <div class="game__seats">
                <span class="game__seat -occupied"></span>
                <span class="game__seat -occupied"></span>
                <span class="game__seat -occupied"></span>
                <span class="game__seat"></span>
                <span class="game__seat"></span>
                <span class="game__seat"></span>
            </div>
            <a class="game__join" href="/game/abcd">Join Table</a>
        </div>
        <div class="game">
            <div class="game__preview"></div>
            <div class="game__seats">
                <span class="game__seat -occupied"></span>
                <span class="game__seat -occupied"></span>
                <span class="game__seat -occupied"></span>
                <span class="game__seat"></span>
                <span class="game__seat"></span>
                <span class="game__seat"></span>
            </div>
            <a class="game__join" href="/game/abcd">Join Table</a>
        </div>
    </section>

    {% include 'leaderboard.html' %}

    <script type="module">
        import { Table } from '/static/js/blackjack/index.js';
        document.addEventListener('DOMContentLoaded', function() {
            const games = document.querySelectorAll('.game__preview');
            if(games) {
                for (const game of games) {
                    {#const game_state = game.dataset.state;#}
                    {#const table = new Table();#}
                    {#game.appendChild(table.node);#}
                    {#table.update(game_state);#}
                }
            }
        });
    </script>
{% endblock %}